.subtitle {
    font-size: 3rem;
    margin-bottom: 0;
    text-align: center;
}

.city{
    font-size: 2rem;
    margin-top: .5rem;
    font-style: italic;
    font-weight: lighter;
}

.icon {
    height: 12rem;
    width: 12rem;
}

@media (max-width: 500px) {
    .subtitle {
        font-size: 2rem;
    }
}