.spaceAround {
    justify-content: space-around;
}

.sectionTitle {
    margin-bottom: 2rem !important; 
}

.container {
    width: 1320px;
    margin: 3rem 0rem;
}

.row {
    display: flex;
    justify-content: space-between;
}

.row div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textInfo {
    min-width: 100%;
    margin-top: 1rem;
}

.textInfo .p {
    font-size: 1.5rem;
    margin: 0;
    font-style: italic;
}

@media (max-width: 500px) {
    .container {
        width: 100%;
        margin: 1rem 0;
    }

    .row {
        display: block;
    }

    .row div {
        width: 100%;
    }

    .sectionTitle {
        font-size: 4rem !important;
    }

    .textInfo .p {
        font-size: 1rem;
        margin: 0;
    }

    .specialText {
        font-size: 3rem !important;
    }
}